.alert-card {
  position: relative;
  width: 100%;
  cursor: pointer;
  padding: 30px;
  color: var(--color__white);

  &::before {
    background-color: var(--color__black);
  }

  &::after {
    background-color: var(--color__black);
  }

  /* &.success .cyber-card {
    &::before {
      background-color: var(--color__green);
    }

    &::after {
      background-color: var(--color__green--dark);
    }
  }

  &.warning .cyber-card {
    &::before {
      background-color: var(--color__yellow);
    }

    &::after {
      background-color: var(--color__yellow--dark);
    }
  }

  &.info .cyber-card {
    &::before {
      background-color: var(--color__blue);
    }

    &::after {
      background-color: var(--color__blue--dark);
    }
  }

  &.error .cyber-card {

  } */

  &__status {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: var(--xxs);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
  }

  &__body {
    width: 100%;
  }
}
